:root{
    --color-1 : #fff;
    --color-2 : #1C1D21;
    --color-3 : #e1e5ea;
    --color-4 : #dbe1f9;
    --color-5 : #67ca3a;
    --color-6 : #686886;
    --color-7 : #f8f8fb;
    --color-8 : #192440;
    --color-9 : #fb6c40;
}